# Core dependencies
ecdsa>=0.18.0
base58>=2.1.1
pytest>=7.4.0
fastapi>=0.115.8
requests>=2.31.0  # For node communication
cryptography>=41.0.0
python-dotenv>=1.0.0
black==25.1.0
uvicorn>=0.34.0
sqlalchemy>=2.0.38
psycopg2-binary>=2.9.10
slowapi>=0.1.9
# Authentication dependencies
python-jose[cryptography]>=3.3.0  # For JWT tokens
passlib[bcrypt]>=1.7.4  # For password hashing
pydantic>=2.1.1  # For data validation
pytest-fastapi-deps>=0.2.3